<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.apispringbootmybatis.infrastructure.mapper.EmployeeMapper">

  <resultMap id="employeeMap" type="com.course.apispringbootmybatis.domain.dto.EmployeeDto">
    <id property="employeeId" column="EMP_EMPLOYEE_ID"/>
    <result property="employeeName" column="EMP_EMPLOYEE_NAME"/>
    <result property="gender" column="EMP_GENDER"/>
    <result property="department" column="DPM_DEPARTMENT_ID" />
    <collection property="historyList" ofType="com.course.apispringbootmybatis.domain.dto.HistoryDto">
      <id property="historyId" column="HST_HISTORY_ID"/>
      <result property="employeeId" column="HST_EMPLOYEE_ID"/>
      <result property="departmentId" column="HST_DEPARTMENT_ID"/>
      <result property="content" column="HST_CONTENT"/>
    </collection>
  </resultMap>

  <sql id="baseSelect">
    SELECT
      EMP.EMPLOYEE_ID AS EMP_EMPLOYEE_ID,
      EMP.EMPLOYEE_NAME AS EMP_EMPLOYEE_NAME,
      EMP.GENDER AS EMP_GENDER,
      DPM.DEPARTMENT_ID AS DPM_DEPARTMENT_ID,
      HST.HISTORY_ID AS HST_HISTORY_ID,
      HST.EMPLOYEE_ID AS HST_EMPLOYEE_ID,
      HST.DEPARTMENT_ID AS HST_DEPARTMENT_ID,
      HST.CONTENT AS HST_CONTENT
    FROM
      EMPLOYEE EMP
        LEFT JOIN HISTORY HST
          ON
          EMP.EMPLOYEE_ID = HST.EMPLOYEE_ID
        LEFT JOIN DEPARTMENT DPM
          ON
          HST.DEPARTMENT_ID = DPM.DEPARTMENT_ID
  </sql>

  <select id="selectById" resultMap="employeeMap">
    <include refid="baseSelect"/>
    WHERE
      EMP.EMPLOYEE_ID = #{employeeId}
  </select>

  <select id="selectAll" resultMap="employeeMap">
    <include refid="baseSelect"/>
  </select>


</mapper>